{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}


<main>
	<div class="alert">
		<div class="alert__action">
			<div class="alert__title">Successful Create:</div>
			<div class="alert__info">{{info}}</div>
		</div>
		<div class="alert__action">

			<button class="alert__botton">
				<a href="/product-list" class="alert__link">Return</a>
			</button>

		</div>
	</div>
</main>




{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}