@use '../../lib/service.scss' as s;


main{
	max-width:  50%;
}


.form {
	display: flex;
	flex-direction: column;
	padding: s.space(4);
	gap: s.space(8);

	&__title {

		font-size: 26px;
		font-weight: bold;
		padding-bottom: s.space(1);
		color: s.color('s-blue');
		padding-top: s.space(2);
	};

	&__frame {
		border: 1px solid s.color('light');
		box-shadow: 0px 10px 15px 10px s.color('light');
		padding: s.space(3);
		border-radius: 10px;
	};



	&__content {
		display: grid;
		gap: s.space(6);
	};

	&__product {
		display: grid;
		grid-template-columns:auto auto;
		justify-content: stretch;
		gap: s.space(5);
	};

	&__info {
		font-size: 20px;
		font-weight: bold;
		padding-bottom: s.space(1);

	};



	&__field_product {
		display: flex;
		flex-direction: column;
		gap: s.space(2);
		
	};

	&__field-info {
		display: flex;
		flex-direction: column;
		gap: s.space(2);
	};

	&__label {
		font-size: 14px;

	};

	&__label-down {
		font-size: 14px;
		color: s.color('light')
	};

	&__input {
		border: 1px solid s.color('light');
        padding: s.space(2);
		border-radius: 5px
		
	}

	&__description {

        padding: s.space(2)
		
	}

	&__button {
		border: 1px solid s.color('light');
        padding: s.space(2);
		border-radius: 5px;
		background-color: s.color('s-blue');
		color: s.color('s-white')
	}
}

